h1{
    font-size: 4em;
    text-align: center;

}
#instructions{
    font-size: 1.5em;
}
.keyboard{
    position: relative;
    top: 400px;
    left: 50px;
    width: 50vw; 
    text-align: center;
    

}
.buttons{
    width: 70px;
    font-size: 2em;
    padding: 8px;
    border-radius: 10px;
    margin: 4px;
    box-shadow: 5px 2px;
    background-color: hsl(220, 100%, 60%);

}
.buttons:hover{
    background-color: hsl(220, 90%, 65%);
}
.buttons:active{
    background-color: rgb(150, 179, 237);
}

#start-btn{
    font-size:1.7em;
    border-radius: 10px;
    padding: 10px;
    background-color: hsl(33, 100%, 60%);
    position: relative;
    left: 720px;
    top: 130px;
}
#start-btn:hover{
    background-color: hsl(33, 100%, 70%);
}
#start-btn:active{
    background-color: hsl(33, 100%, 80%);
    background-color: tom;
}

#images{
    position: fixed;
    left: 1100px;
    top: 270px;
    width: 30em;


}
#hint{
    position: relative;
    bottom: 100px;
    width: 51vw;
    font-size: 6em;
    text-align: center;
    max-width: 90%;
}
#display{
    font-size: 3em;
    text-align: center;
    width: 70px;
    height: 70px;
    position: fixed;
    top: 550px;
    left: 620px;
}

#win-lose{
    border: none;
    position: relative;
    top: 200px;
}